@font-face {
  font-family: "BootsAndSpurs";
  src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.logo,
h1,
h2 {
  font-family: "BootsAndSpurs", Verdana, Geneva, Tahoma, sans-serif;
}

.product-list h2 {
  font-family: "Roboto";
}

a {
  color: white;
}

nav {
  position: fixed;
  top: 0px;
  padding: 20px;
  height: auto;
  width: 100%;
  background-color: black;
  text: white;
  z-index: 2;
}

.naviagtion {
    display: flex;
    align-items: center;
  
}


.logo, nav a {
  text-decoration: none;
  padding: 20px;
}

.active {
  text-decoration: underline;
}


main {
  margin: 8px;
  padding-top: 100px;
  padding-bottom: 100px;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.view {
  background-color: red;
  border: 1px;
  color: white;
  padding: 10px 70px;
  text-align: center;
  display: block;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
  width: 76.148px;
  margin: auto;
}

.on-sale {
  background-color: green;
}

.small-cta {
  padding: 8px 30px;
  font-size: 0.8em;
}


.our_guitars_are, .reviews_1_2 {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
}


.our_guitars_are > *, .reviews_1_2 > * {
    flex: 1;
}

.our_guitars_are_pic {
  border-radius: 40px;
  width: 100%;
}


#reviews {
  background-color: lightgrey;
  padding: 50px;
}

#reviews h2 {
    text-align: center;
}

.reviews_name {
    display: block;
}

.round-pic {
    border-radius: 50%;
    max-width: 70px;
    max-height: 70px;
float: right;

  }

.reviews_1_2 div {
    margin: 50px;
}

.background-item {
  background-color: lightgrey;
}

.home-header {
  background-image: url("../images/home-header.jpg");
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  z-index: 0;
  position: relative;
}

.welcome {
    position: absolute;
    text-align: center;
    padding-left: 10%;
    padding-top: 10%;
    z-index: 1;
}


input,
select,
textarea {
  border: 1px solid brown;
  border-radius: 5px;
}
