@font-face {
    font-family: 'BootsAndSpurs';
    src: url('../fonts/BootsAndSpurs.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo, h1 {
    font-family: 'BootsAndSpurs';
}

a {
    color: white;
}

nav {
    position: fixed;
    top: 0px;
    padding: 20px;
    height: 120px;
    width: 100%;
    background-color: black;
    text: white;
}

main {
margin: 8px;
padding-top: 150px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
}

.view {
    background-color: red;
    border: 1px;
    color: white;
    padding: 4px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.on-sale {
    background-color: green;
}

#reviews {
    background-color: lightgrey;
}

.background-item {
    background-color: lightgrey;
}

